---
swagger: "2.0"
info:
  description: "Test api for stubs generation"
  version: "1.0.0"
  title: "Test Api"
host: "localhost:8080"
tags:
- name: "TestTag"
schemes:
- "http"
paths:
  /get/v1/object:
    get:
      tags:
      - "TestTagGet"
      summary: "Get object by params"
      operationId: "getObjectByParams"
      produces:
        - "application/json"
      parameters:
      - name: "param1"
        in: "query"
        description: "Param 1"
        required: false
        type: "string"
      - name: "param2"
        in: "query"
        description: "Param 2"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          schema:
            $ref: "#/definitions/TestObject"
          description: "Ok"
        400:
          description: "Invalid request parameters"
        403:
          description: "Forbidden"
  /put/v1/object:
    put:
      tags:
        - "TestTagPut"
      summary: "Put object"
      operationId: "putObject"
      parameters:
        - in: "body"
          name: "body1"
          required: false
          schema:
            type: "object"
            properties:
              bodyParam1:
                type: "string"
              bodyParam2:
                type: "integer"
      responses:
        200:
          schema:
            $ref: "#/definitions/TestObject"
          description: "Created"
definitions:
  TestObject:
    type: "object"
    properties:
      objectParam1:
        type: "integer"
        format: "int64"
      objectParam2:
        type: "string"
      objectParam3:
        $ref: "#/definitions/TestObject"
