package {{supportPackage}};

import java.util.*;
import java.util.function.Consumer;

public class CollectionBuilder<V> {
    protected Collection<V> collection;
    protected Consumer<V> consumer;
    protected V value;

    public CollectionBuilder(Collection<V> collection, Consumer<V> consumer) {
        this.collection = collection;
        this.consumer = consumer;
    }
}