package {{supportPackage}};

import java.util.*;
import java.util.function.Consumer;

public class PrimitiveCollectionBuilder<E, V> {
    private E enter;
    private Collection<V> collection;
    private  Consumer<V> consumer;

    public PrimitiveCollectionBuilder<E, V> addNew(V value) {
        this.collection.add(value);
        return this;
    }

    public PrimitiveCollectionBuilder(E enter, Collection<V> collection, Consumer<V> consumer) {
        this.enter = enter;
        this.collection = collection;
        this.consumer = consumer;
    }

    public E exit() {
        for(V value : collection){
            consumer.accept(value);
        }
        return this.enter;
    }
}